In [1]:
3 - 2

[1] 1

In [2]:
4^2

[1] 16

In [3]:
4*pi

[1] 12.56637

In [4]:
sin(4)

[1] -0.7568025

In [9]:
!(3 == 4)

[1] TRUE

In [11]:
(4==4) && (3>12)

[1] FALSE

# Variable Assignment

Print a

In [13]:
a <- (3+3)

### The Vector

In [14]:
dat <- c(4,5,6,23,2)

In [15]:
print(dat)

[1]  4  5  6 23  2

In [16]:
v1 <- c(1,2,3)
v2 <- c(5,4,3)
v <- c(v1,v2)

In [17]:
print(v)

[1] 1 2 3 5 4 3

In [18]:
my_vec <- rep(0,10)

In [19]:
print(my_vec)

 [1] 0 0 0 0 0 0 0 0 0 0

In [20]:
m <- 1:20

In [24]:
v3 <- seq(-10,10, 2)

In [26]:
print(v3)

 [1] -10  -8  -6  -4  -2   0   2   4   6   8  10

In [27]:
v3

 [1] -10  -8  -6  -4  -2   0   2   4   6   8  10

In [28]:
print(seq(-10,10,2))

 [1] -10  -8  -6  -4  -2   0   2   4   6   8  10

### Create a vector (u) with the integers from -2 to 2

In [29]:
u <- (-2,2)

ERROR: Error in parse(text = x, srcfile = src): <text>:1:9: unexpected ','
1: u <- (-2,
            ^

In [30]:
u <- (-2:2)

In [31]:
print (u)

[1] -2 -1  0  1  2

In [32]:
u <- seq (-2,2)

In [33]:
print (u)

[1] -2 -1  0  1  2

In [1]:
v <- rnorm(5)

In [2]:
print (v)

[1] -0.3039027 -1.7174464 -0.1071206 -0.7876513 -1.1116752

In [3]:
v[2]

[1] -1.717446

In [4]:
v[1:3]

[1] -0.3039027 -1.7174464 -0.1071206

In [5]:
v[2:5]

[1] -1.7174464 -0.1071206 -0.7876513 -1.1116752

In [6]:
v[c(1,3)]

[1] -0.3039027 -0.1071206

In [7]:
print(v)

[1] -0.3039027 -1.7174464 -0.1071206 -0.7876513 -1.1116752

In [8]:
v[-3]

[1] -0.3039027 -1.7174464 -0.7876513 -1.1116752

In [10]:
indces <- c(1,3)
print(indces) 
v[indces]

[1] 1 3

[1] -0.3039027 -0.1071206

### Assignment with Indexing

In [11]:
u <- c(5,6,8,22)

In [12]:
u[1] <- 0

In [13]:
print (u)

[1]  0  6  8 22

In [15]:
u3 <- u[1:3]

In [16]:
print(u3)

[1] 0 6 8

### Q2: create vector (v) with three elements, 10, 20 and 30. Use indexing to change the alue of the first two elements to be 0.

In [17]:
v <- (10,20,30)

ERROR: Error in parse(text = x, srcfile = src): <text>:1:9: unexpected ','
1: v <- (10,
            ^

In [18]:
v <- (10, 20, 30)

ERROR: Error in parse(text = x, srcfile = src): <text>:1:9: unexpected ','
1: v <- (10,
            ^

In [19]:
v <- c (10,20,30)

In [20]:
print (v)

[1] 10 20 30

In [21]:
c[1] <- 0 
c[2] <- 0

ERROR: Error in c[1] <- 0: object of type 'builtin' is not subsettable

In [22]:
v[1:2] <- 0

In [23]:
print (v)

[1]  0  0 30

In [24]:
v[1] <- 0 
v[2] <- 0 
print (v)

[1]  0  0 30

### Create a vector, v1, with 5 elements, 10,20,30,40,50. Use indexing to get the first third and fifth from that vector and put them in a new vector (v2)

In [25]:
v1 <- c(10,20,30,40,50)

In [26]:
print(v1)

[1] 10 20 30 40 50

In [27]:
v2 <- v1(1,3,5)

ERROR: Error in v1(1, 3, 5): could not find function "v1"

In [28]:
v2 <- v1[1,3,5]

ERROR: Error in v1[1, 3, 5]: incorrect number of dimensions

In [29]:
v2 <- v1(1,3,5)

ERROR: Error in v1(1, 3, 5): could not find function "v1"

In [30]:
v2 <- v1[1,3,5]

ERROR: Error in v1[1, 3, 5]: incorrect number of dimensions

In [31]:
v2 <- c(v1(1,3,5))

ERROR: Error in v1(1, 3, 5): could not find function "v1"

In [32]:
v2 <- c(v1[1,3,5])

ERROR: Error in v1[1, 3, 5]: incorrect number of dimensions

In [33]:
v2 <- v1[c(1,3,5)]

In [34]:
print (v2)

[1] 10 30 50

In [35]:
idx <- c(1,3,5)
v2 <- v1[idx]
print(v2)

[1] 10 30 50

In [42]:
v1 <- seq(10,50,10)  ## this is creating a vector, 10-50, difference 10; 10,20,30,40,50
idx <- c(TRUE, FALSE, TRUE, FALSE, TRUE)
v2 <- v1[idx]
print (v2)

[1] 10 30 50

## Vectorization ot operations

In [37]:
v <- c(44,55,66)
v - 20

[1] 24 35 46

In [38]:
v * 2

[1]  88 110 132

In [39]:
v / 5

[1]  8.8 11.0 13.2

In [40]:
v > 50

[1] FALSE  TRUE  TRUE